$brand-color: #cd2027;
$bg-color: #f2f2f2;
$text-color: #282828;
$glow-color: #fff;

$nav-link-color: $text-color;
$nav-inactive-link-color: #aeaeae;
$link-color: $brand-color;
$link-decoration: none;
$shadow-color: rgba(0,0,0,.5);

$easing: cubic-bezier(0.250, 0.460, 0.450, 0.940);
