.funny-cat-video
  .overlay
    .window
      %iframe{src: "http://www.youtube.com/embed/k3tfksoX5iw?rel=0"}

.page.about
  .column.passionate
    %header
      %h1 
        %span Passionate

    %p 
      We are mad about our work. Like Doctor Frankenstein we work tirelessly to chop up
      code and create one-of-a-kind software that works for you.

  .column.flexible
    %header
      %h1
        %span Flexible

    %p
      Need someone to hop on a Ruby on Rails ride? Just say a word.
      A small team, hungry for challenges, working directly for you. 
      Serious about code, but 
      %a{href: "#", id: "funny-cat-video"} not so when watching that funny cat video on YouTube.

  .column.skilled
    %header
      %h1
        %span Skilled

    %p
      We build software. We do everything in house - concept planning, design, content 
      strategy, front- and back-end development. We are always on the lookout for exciting 
      new projects in which we can sink our teeth. 
      %a{href: "#contact"} Here’s where you step in.
