.map
  %iframe{frameBorder: '0', src: 'http://a.tiles.mapbox.com/v3/dotmariusz.map-79ndheeh.html#15/52.50423057585212/13.412269729778972', class: "map-box"}

  .map-overlay

  %h1 
    %span Start a project
  %h2 
    %span Here's where the heavy lifting takes place

.page.contact
