.production-line
  .page
    %header
      %h1 
        %span Production line

    %ul
      %li.ideas Ideas &amp; sketching
      %li.design Design &amp; prototyping
      %li.coding Coding &amp; polishing
      %li.release Release &amp; champagne
      %li.maintenance Hangover &amp; maintenance
