.production-line
  .page
    %header
      %h1 
        %span Production line

    %ul
      %li.ideas 
        Ideas &amp;
        %br/ 
        sketching
      %li.design 
        Design &amp; 
        %br/ 
        prototyping
      %li.coding 
        Coding &amp;
        %br/ 
        polishing
      %li.release 
        Release &amp;
        %br/
        champagne
      %li.maintenance 
        Hangover &amp;
        %br/
        maintenance
