.page.work
  %header
    %h1
      %span Our work
    %h2 
      %span We're always proud to see our work in action

  %ul.projects
    %li.clockwork
      %dl
        %dt
          = image_tag "work/clockwork.jpg", alt: "Clockwork"
        %dd
          %h3 Clockwork

          %p 
            If you ever got lost in working schedules, Clockwork will 
            ease your pain. An in-house project we truly love.

          %p.link-to-project
            %a{href: "http://clockwork.io", target: "_blank", class: "button"} Visit website
    %li.heute-kaufen
      %dl
        %dt
          = image_tag "work/heute-kaufen.jpg", alt: "Heute Kaufen"
        %dd
          %h3 Heute Kaufen

          %p 
            Need to boost your PC power? Kids want a laptop? Heute Kaufen is an elegant and 
            lightweight shop focused on special deals for electronic gear.
         
          %p.link-to-project
            %a{href: "http://heute-kaufen.de", target: "_blank", class: "button"} Visit website
