button, 
input[type=submit], 
.button {
  @include border-radius(3px);
  @include transition(background .25s $easing);

  background: $brand-color;
  color: $bg-color;
  text-shadow: 0 -1px 0 $shadow-color;
  padding: .5em 1em;
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover {
    background: darken($brand-color, 10%);
    color: $bg-color;
  }
}
