@import "susy";

.page {
  @include container;
}

header.master {
  @include clearfix;

  background: #fff;
  position: relative;

  @media screen and (min-width: 42.5em) {
    padding:0 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }

  h1 {
    float: left;
    padding: 20px 0;
    margin: 0;
  }

  nav {
    float: right;
  }

  .button {
    font-size: .9em;
  }
}

